.search-area-wrapper{
    padding:60px 40px; 
    height:400px; 
    margin-top:-18px !important; 
}


/* Header - Search ---------------------------------------------------------------------------------------------------*/

.search-area-wrapper {
	background-size: 100%;
    min-height: 279px;
    height: auto !important;
    height: 279px;
  	background: rgba(84,80,107,1);
	background: -moz-linear-gradient(-45deg, rgba(84,80,107,1) 0%, rgba(119,118,136,1) 33%, rgba(122,154,172,1) 66%, rgba(122,154,172,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(84,80,107,1)), color-stop(33%, rgba(119,118,136,1)), color-stop(66%, rgba(122,154,172,1)), color-stop(100%, rgba(122,154,172,1)));
	background: -webkit-linear-gradient(-45deg, rgba(84,80,107,1) 0%, rgba(119,118,136,1) 33%, rgba(122,154,172,1) 66%, rgba(122,154,172,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(84,80,107,1) 0%, rgba(119,118,136,1) 33%, rgba(122,154,172,1) 66%, rgba(122,154,172,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(84,80,107,1) 0%, rgba(119,118,136,1) 33%, rgba(122,154,172,1) 66%, rgba(122,154,172,1) 100%);
	background: linear-gradient(135deg, rgba(84,80,107,1) 0%, rgba(119,118,136,1) 33%, rgba(122,154,172,1) 66%, rgba(122,154,172,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54506b', endColorstr='#7a9aac', GradientType=1 );
}
.search-area-wrapper .search-area {
  padding: 50px 0;
}

h3.search-header {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  text-align: center;
}

p.search-tag-line {
  font-family: "Droid Serif", serif;
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  text-align: center;
}

form.search-form {
  margin: 40px 0 0;
  text-align: center;
}
form.search-form .input-common, form.search-form input.search-term, form.search-form input.search-btn {
  font-family: "Open Sans", sans-serif;
  box-shadow: none;
  border-radius: 0;
  display: inline-block;
  border: none;
  vertical-align: bottom;
}

form.search-form input.search-term.loading {
  background-image: url("../images/search-loader.gif");
  background-repeat: no-repeat;
  background-position: 98% 50%;
}
form.search-form input.search-btn {
  background-color: #3f4b55;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  padding: 14px 30px 15px;
  color: #fff;
}
form.search-form input.search-btn:hover {
  background-color: #4b5760;

}

#search-error-container label {
  color: #fff;
  padding: 5px;
  font-size: 14px;
}

.lt-ie8 form.search-form input.search-btn {
  padding-top: 12px;
  padding-bottom: 13px;
}

form.search-form input.search-term{
  font-size: 14px;
  height: 48px;
  line-height: 24px;
  padding: 12px;
  width: 40%;
  color: #333;
  margin-right: 10px;
  font-weight:bold; 
}

.box{
  padding:10px;
  margin-top:20px;  
  margin-bottom:10px; 
  position: relative;
}



/*------------------------------------------------------------------------------------------------------------------- */
/* Responsive: Landscape phone to desktop/tablet -------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 767px) {
  /* Navigation */
  .main-nav > div {
    display: none;
  }
  .main-nav .responsive-nav {
    display: block;
    width: 85%;
    margin: 10px auto;
    padding: auto;
    border-radius: 0;
    border: none;
  }

  /* Search Area */
  .search-area-wrapper {
    background-size: auto;
    min-height: 240px;
    height: auto !important;
    height: 240px;
  }
  .search-area-wrapper .search-area {
    padding: 20px 0;
  }
  .search-area-wrapper h3.search-header {
    font-size: 30px;
    padding: 0 15px;
  }
  .search-area-wrapper p.search-tag-line {
    padding: 0 15px;
    font-size: 14px;
    line-height: 22px;
  }
  .search-area-wrapper form.search-form input.search-term {
    width: 100%;
    margin-bottom: 10px;
  }
  input.search-btn{
  	margin-top:10px; 
  } 
}